{% extends 'd_admin.html' %}
{% block m1 %}

<style xmlns="http://www.w3.org/1999/html">
body
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
}
button,a
{
	box-sizing:border-box;
     border-radius:10px;
	 margin:8px;
	 font-size:20px;
	 background-color:#0CF;
	 color:#FFF;
}
button:hover{
	background-color:#30F;

}
</style>
<h1>Edit Accountant Details</h1>
{% if msg %}
<h3> {{msg}}</h3>
{% endif %}

<button><a href="show_accountant"><img src="../static/photos/back.svg">BACK</a></button>
{% endblock %}