{% extends 'd_admin.html' %}
{% block m1 %}

<style xmlns="http://www.w3.org/1999/html">
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;

	}


input{
	margin:10px;
	border-radius:5px;
	box-sizing:border-box;
	background-color:#6FC;
	}

button,a{
	box-sizing:border-box;
     border-radius:10px;
	 margin:8px;
	 font-size:20px;
	 background-color:#0CF;
	 color:#FFF;
	}
button:hover{
	background-color:#30F;

}
</style>
<center>
<h1>Edit Accountant</h1>

{% if kota %}

  <form method="post" action="edit_accountant1">
      <table width="34%">
          <tr><td>Employee No:<input readonly type="text" name="T1" value="{{kota[0]}}"/></td></tr>
      <tr><td>Name:<input type="text" name="T2" value="{{kota[1]}}"/></td></tr>
      <tr><td>Designation:<input type="text" name="T3" value="{{kota[2]}}"></td></tr>
      <tr><td>Contact No:<input type="text" name="T4" value="{{kota[3]}}"/></td></tr>
      <tr><td>Email:<input readonly type="text" name="T5" value="{{kota[4]}}"/></td></tr>
      <tr><td><input type="submit" name="B1" value="Saved Changes"/></td></tr>
      </table>
  </form>
</center>
{% elif msg %}
<h3>{{msg}}</h3>
{% endif %}

<button><a href="show_accountant"><img src="../static/photos/back.svg">BACK</a></button>
{% endblock %}