{% extends 'd_admin.html' %}
{% block m1 %}
<style>
input{

	border-radius:5px;
	box-sizing:border-box;
	background-color:#6FC;
	}

button,a{
	box-sizing:border-box;
     border-radius:10px;
	 margin:8px;
	 font-size:20px;
	 background-color:#0CF;
	 color:#FFF;
	}
button:hover{
	background-color:#30F;

}
</style>
<h1>Photo Upload</h1>
<form method="post" action="admin_photo1" enctype="multipart/form-data">
    File <input type="file" name="F1" />
    <input type="submit" name="B1" value="Upload" />
</form>
{% endblock %}