{% extends 'd_admin.html' %}
{% block m1 %}
<html>
<head>
<style>
    p{
    color:black;
    }
    input{
    background-color:#6C9;
	color:#FFF;
	border:1px solid #0CF;
	border-radius:10px;
	padding:6px;
	font-size:16px;
	margin:8px;
    }
    button,a{
    background-color:#6C9;
	color:#FFF;
	border:1px solid #0CF;
	border-radius:10px;
	padding:6px;
	font-size:16px;
	margin:8px;
	}
button:hover{
    background-color:#6F9;
	cursor:pointer;

}
</style>
</head>
<body>
<div>

<h1>Show Accountant</h1>

{% if kota %}


    {% for emp in kota %}
<table border="1" style="border-collapse:collapse" width="50%">
    <tr>
        <td>
            <h3>{{emp[1]}}</h3>

            <p><b>Employee No.</b>:{{emp[0]}}</p>
            <p><b>Designation:</b>{{emp[2]}}</p>
            <p><b>Contact No:</b>{{emp[3]}}</p>
            <p><b>Email:{{emp[4]}}</b></p>

        </td>

        <td>
            <form method="post" action="edit_accountant">
                <input type="hidden" name="H1" value="{{emp[4]}}"/>
                <input type="submit" name="B1" value="Edit"/>
            </form>

             <form method="post" action="delete_accountant">
                <input type="hidden" name="H1" value="{{emp[4]}}"/>
                <input type="submit" name="B1" value="Delete"/>
            </form>

        </td>
    </tr>
</table>
{% endfor %}

{% elif msg %}
<h3>{{msg}}</h3>
{% endif %}
    </div>
</body>
</html>
        <button><a href="admin_home"><img src="../static/photos/back.svg">BACK</a></button>
{% endblock %}