{% extends 'd_accountant.html' %}
{% block m1 %}
<style xmlns="http://www.w3.org/1999/html">
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;

	}


input{
	margin:10px;
	border-radius:5px;
	box-sizing:border-box;
	background-color:#6FC;
	}

button,a{
	box-sizing:border-box;
     border-radius:10px;
	 margin:8px;
	 font-size:20px;
	 background-color:#0CF;
	 color:#FFF;
	}
button:hover{
	background-color:#30F;

}
</style>
<center>
<h1>Student course</h1>
<form method="POST" action="student_course" enctype="multipart/form-data">
    <table width="34%">
    <p><tr><td>Course id:<input type="text" name="T1" id="txt1"></td></tr></p>
    <p><tr><td>Registration no.:<input type="text" name="T2" id="txt2"></td></tr></p>
    <p><tr><td>Courses:
        <select id="txt3" name="T3">
                <option></option>
                <option>C Programming</option>
                <option>CPP</option>
                <option>JAVA</option>
                <option>Web Designing</option>
                <option>PYTHON</option>
                <option>DSA</option>
                <option>SOFTWARE DEVELOPMENT</option>
    </select></td></tr></p>
        <p><tr><td>Fee:<input type="text" name="T4" id="txt4"></td></tr></p>
    <p><tr><td>Discount:<input type="text" name="T5" id="txt5"></td></tr></p>
    <p><tr><td>Joining Date:<input type="text" name="T6" id="txt6"></td></tr></p>
    <p><tr><td>Remarks:<input type="text" name="T7" id="txt7"></td></tr></p>
    <p><tr><td><button id="btn1" name="B1">Register</button></td></tr></p>
    </table>
</form>
</center>
{% if msg %}
    <h3>{{ msg }}</h3>
{% endif %}
<button><a href="student_home"><img src="../static/photos/back.svg">BACK</a> </button>
{% endblock %}


