{% extends 'd_accountant.html' %}
{% block m1 %}
<style xmlns="http://www.w3.org/1999/html">
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;

	}


input{
	margin:10px;
	border-radius:5px;
	box-sizing:border-box;
	background-color:#6FC;
	}

button,a{
	box-sizing:border-box;
     border-radius:10px;
	 margin:8px;
	 font-size:20px;
	 background-color:#0CF;
	 color:#FFF;
	}
button:hover{
	background-color:#30F;

}
</style>
<center>
<h1>Student fee</h1>

<form method="POST" action="student_fee" enctype="multipart/form-data">
    <table width="34%">
    <p><tr><td>Registration no.:<input type="text" name="T1" id="txt1"></td></tr></p>
    <p><tr><td>Course id:<input type="text" name="T2" id="txt2"></td></tr></p>
    <p><tr><td>Amount:<input type="text" name="T3" id="txt3"></td></tr></p>
    <p><tr><td>Deposit_date:<input type="text" name="T4" id="txt4"></td></tr></p>
    <p><tr><td>Remarks:<input type="text" name="T5" id="txt5"></td></tr></p>
    <p><tr><td><button id="btn1" name="B1" >Register</button></td></tr></p>
    </table>
</form>
</center>
{% if msg %}
    <h3>{{ msg }}</h3>
{% endif %}
<button><a href="student_home"><img src="../static/photos/back.svg">BACK</a> </button>
{% endblock %}